Smart Security Systems Node Red Flow.txt
[{"id":"49b66033.62b06","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"9da121b3.43d8b","type":"http in","z":"49b66033.62b06","name":"","url":"command","method":"get","upload":false,"swaggerDoc":"","x":220,"y":200,"wires":[["929085e4.62d278"]]},{"id":"929085e4.62d278","type":"function","z":"49b66033.62b06","name":"smart_home_command","func":"msg.payload = msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":260,"wires":[["e7331b1.56006e8","ea4cd014.3ff5e","2440aa10.94aa36"]]},{"id":"e7331b1.56006e8","type":"http response","z":"49b66033.62b06","name":"","statusCode":"","headers":{},"x":770,"y":200,"wires":[]},{"id":"ea4cd014.3ff5e","type":"debug","z":"49b66033.62b06","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":40,"wires":[]},{"id":"bc6f33ae.0e7e7","type":"ibmiot in","z":"49b66033.62b06","authentication":"apiKey","apiKey":"cfa26353.57091","inputType":"cmd","logicalInterface":"","ruleId":"","deviceId":"112233","applicationId":"","deviceType":"smart_home","eventType":"+","commandType":"home","format":"String","name":"Command","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":200,"y":300,"wires":[["929085e4.62d278","2440aa10.94aa36"]]},{"id":"29b02a58.6fed86","type":"function","z":"49b66033.62b06","name":"","func":"msg.payload = {\"voice\":global.get(\"Voice\")}\nmsg.payload = msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":500,"wires":[["19db6ea4.479651"]]},{"id":"19db6ea4.479651","type":"http response","z":"49b66033.62b06","name":"","statusCode":"","headers":{},"x":690,"y":500,"wires":[]},{"id":"f9d878a5.0863f8","type":"http in","z":"49b66033.62b06","name":"","url":"voice","method":"get","upload":false,"swaggerDoc":"","x":160,"y":500,"wires":[["29b02a58.6fed86"]]},{"id":"2440aa10.94aa36","type":"cloudant out","z":"49b66033.62b06","name":"","cloudant":"","database":"smart_home","service":"Charan24-cloudantNoSQLDB","payonly":true,"operation":"insert","x":638,"y":372,"wires":[]},{"id":"cfa26353.57091","type":"ibmiot","z":"","name":"charan","keepalive":"60","serverName":"1uwrf4.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false}]